# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# OS specific
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
redis_data/

# Logs
*.log 
/api
